/* App.css - Limpieza para Studio Z */

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  /* Eliminamos text-align center forzado para permitir nuestros diseños a la izquierda */
  text-align: left; 
}

/* Opcional: Si quieres transiciones suaves globales */
* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Ajuste para que los inputs no tengan el outline azul por defecto del navegador,
   ya que estamos usando nuestros propios estilos de foco */
input:focus, textarea:focus, select:focus {
  outline: none;
}